.vscode
.vscode/*
results/*
.snakemake/*
logs/*
!.gitignore
!*/.gitignore
resources/fastq
resources/reference
resources/single-cell-sample-sheet
resources/single-cell-resources
resources/illumina_gex
resources/illumina_vdj
resources/ont
.config
.cache
.nextflow
.nextflow.log
.nextflow/*
evaluation/data/sicelore_data/illumina
evaluation/data/sicelore_data/nanopore
evaluation/data/scmixology2_data/illumina
evaluation/data/scmixology2_data/nanopore
evaluation/results
